@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 300;
  src: local('TTLakes'),
       url('Assets/Fonts/TTLakes/TTLakes-Light.woff2') format('woff2'),
       url('Assets/Fonts/TTLakes/TTLakes-Light.woff') format('woff');
}

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 400;
  src: local('TTLakes'),
       url('Assets/Fonts/TTLakes/TTLakes-Regular.woff2') format('woff2'),
       url('Assets/Fonts/TTLakes/TTLakes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 500;
  src: local('TTLakes'),
       url('Assets/Fonts/TTLakes/TTLakes-Medium.woff2') format('woff2'),
       url('Assets/Fonts/TTLakes/TTLakes-Medium.woff') format('woff');
}

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 700;
  src: local('TTLakes'),
       url('Assets/Fonts/TTLakes/TTLakes-Bold.woff2') format('woff2'),
       url('Assets/Fonts/TTLakes/TTLakes-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 800;
  src: local('TTLakes'),
       url('Assets/Fonts/TTLakes/TTLakes-Black.woff2') format('woff2'),
       url('Assets/Fonts/TTLakes/TTLakes-Black.woff') format('woff');
}

@media (max-width: 767px) {

  .main__companies-list {
    display: flex !important;
    gap: 32px !important;
    margin: 24px 33px 84px 32px;
  }

  .main--button_hide-button {
    display: none;
  }


}

@media (min-width: 768px) and (max-width: 1119px) {

  .main__companies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 32px !important;
    margin: 24px 33px 84px 32px;
  }
  .hidden_tablet {
    display: none !important;
  }
}

@media (min-width: 1120px) {

  .main__companies-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    margin: 24px 33px 84px 32px;
  }
  .hidden {
    display: none !important;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "TTLakes", sans-serif;
  background-color: #F8F8F8;
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

.header {
  width: 100%;
  margin-bottom: 40px;
}

.header__title {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  color: #7E7E82;
  height: 56px;
  margin-top: 0;
  border-top: 4px solid #D9FFF5;
  background: linear-gradient(to right, #F8F8F8 40%, #ffffff 75%, #ffffff);
  letter-spacing: 1px;
}

.main__companies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  margin: 24px 33px 84px 32px;
}

.main__companies-list_block {
  width: 240px;
  height: auto;
  background-color: white;
  padding: 20px;
  border: 2px solid #EAEAEA;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.emblem {
  max-width: 70%;
  height: auto;
}

.icon {
  width: 40px;
  height: auto;
}

.main--button_hide-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 55px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
}

.main--button_hide-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: url("Assets/Images/icons/expand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease;
}

.main--button_hide-button.hide-all:before {
    transform: translateY(-50%) rotate(0deg); /* Стрелка указывает вниз */
}

.main--button_hide-button.show-all:before {
    transform: translateY(-50%) rotate(180deg); /* Стрелка указывает вверх */
}
