@media (max-width: 767px) {
  .slider__slide {
  width: 250px !important;
  height: 40px !important;
  background-color: white !important;
  border: 2px solid #EAEAEA !important;
  border-radius: 8px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  position: relative !important;
  margin-bottom: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
.slider__slide-list {
  display: grid !important;
  grid-template-columns: repeat(3, 250px) !important;
  gap: 20px 100px !important;
  padding-right: 50px !important;
}

.slider__slide {
width: 250px !important;
height: 40px !important;
background-color: white !important;
border: 2px solid #EAEAEA !important;
border-radius: 8px !important;
display: flex !important;
flex-direction: row !important;
align-items: center !important;
position: relative !important;
}

.slider__slide:nth-child(10),
 .slider__slide:nth-child(11) {
   margin-bottom: 50px !important;
 }

.hidden_tablet {
  display: none !important;
}
}

@media (min-width: 1120px) {
  .slider__slide-list {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(4, 250px) !important;
    gap: 20px 100px !important;
  }
  .hidden {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
  opacity: 1;
}
